{% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
                <span><b>{{ message }}</b></span>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
                <span><b>{{ message }}</b></span>
            {% endif%}

        {% endfor %}
    </div>
{% endif %}
{% block javascripts %}

{% endblock javascripts %}