
<div class="sidebar" data="blue">
  <div class="sidebar-wrapper">

    <ul class="nav">
    {% if request.user.is_authenticated %}
      <li class="{% if 'home' in segment %} active {% endif %} ">
        <a href="/">
          <i class="tim-icons icon-app text-black-50"></i>
          <p class="text-darker">Home</p>
        </a>
      </li>
      {% else %}
      <li class="active">
        <a target="_blank"
           href="">
          <i class="tim-icons icon-badge"></i>
          <p>Login</p>
        </a>
      </li>
      {% endif %}

    </ul>

  </div>
</div>
