# Production static files folder
/static_assets/

# Dev folders and files
/.idea/
/bin/
/include/
/lib/
/lib64
**/*.pyc

# Environments
.env
.venv
env/
venv/
brainer/
ENV/
env.bak/
venv.bak/

# Configurational files

# Log files
*.log