{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="card" xmlns="http://www.w3.org/1999/html">
    <div class="collapse" id="collapseResults">
        <div class="card-body white-content">
        </div>
    </div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script type="text/javascript">

</script>
{% endblock javascripts %}
